[Unit]
Description=Volatile log storage
DefaultDependencies=no
Before=local-fs.target

[Mount]
What=tmpfs
Where=/var/log
Type=tmpfs
Options=mode=0755

[Install]
WantedBy=multi-user.target

